language: php

php:
  - 5.6
  - 7.0
  - 7.1
  - 7.2
  - 7.3

sudo: false

env:
  - COMPOSER_OPTS=""
  - COMPOSER_OPTS="--prefer-lowest"

matrix:
  allow_failures:
    - php: 7.3
      env: COMPOSER_OPTS="--prefer-lowest" # Elasticsearch-PHP 2.1 (a very old
                                      # version) is not compatible with PHP 7.3
  fast_finish: true

install:
  - travis_retry composer update $COMPOSER_OPTS --no-interaction

script: vendor/bin/phpunit
